{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "airbnb",
  "rules": {
    "no-console": 0,
    "linebreak-style": 0,
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "max-len": 0,
    "react/forbid-prop-types": 0,
    "jsx-a11y/interactive-supports-focus": 0,
    "react/prop-types": 0,
    "jsx-a11y/label-has-for": 0,
    "no-nested-ternary": 0,
    "import/no-mutable-exports": 0
  }
}
